table{
    border: 2px solid black;
    padding: 50px;
    left: 50%;
    color: black;
    text-align: center;
    width: 100%;
    border-radius: 30px;
    background-color: antiquewhite;
}

#keyword{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    text-align:center;
}

body{
    background: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .flex-container {
      flex-direction: column;
    }
}

.tabelbuku{
    font-family: Montserrat;
    font-size: 35px;
    font-style: Bold;
    color: aliceblue;
}