{% extends "base.html" %}

{% load static %}

{% block loadcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/story8.css' %}">
{% endblock loadcss %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <br><br><br><br>
    </div>

    <div class="row text-center">
        <div class="col-md"></div>

        <div class="col-md">
            
            <br><br>
            <p class="tabelbuku"> Find your book here!!</p>

        <input id="keyword" placeholder="Search Your Book">

        <br><br><br><br>
        
            <div id="daftar_buku">
                <table>
                    <tr>
                        <th>Judul</th> 
                    </tr>
                    <tr>
                        <th>Gambar</th> 
                    </tr>
                </table>
            </div>

        </div>

        <div class="col-md"></div>
    </div>

    
    <div class="row">
        <br><br><br><br>
    </div>
       

</div>


<script>
    $("#keyword").keyup( function(){
        var ketikan= $("#keyword").val();
        console.log(ketikan);

        $.ajax({
            url: '/data_buku?q=' + ketikan,
            success: function(data) {
                var array_items = data.items;
                console.log(array_items);
                $("#daftar_buku").empty();
                for(i = 0; i<array_items.length; i++){
                    var judul = array_items[i].volumeInfo.title;
                    var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    $("#daftar_buku").append("<table><tr><th>" + judul + "</th></tr><br><tr><th><img src=" + gambar + "></th></tr></table><br><br>");
                }
            }
        });
    });
</script>
{% endblock content %}